@use "../variables" as *;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color;
  border: 1px solid $separator-color;
  border-radius: $base-radius;
  min-width: 50%;
  outline-width: 0 !important;
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    top: 50%;
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    overflow-y: scroll;
  }

  .modal-header {
    display: flex;
    align-items: center;
    background-color: $paper-background-color;
    padding: $large-spacing;
    border-bottom: 1px solid $separator-color;


    .modal-title {
      flex: 1;
      margin: 0;
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    max-height: 70vh;
    overflow-y: scroll;

    &::-webkit-scrollbar{
      display: none;
    }

    .modal-section {
      border-bottom: 1px solid $separator-color;
      padding: $large-spacing;
      display: flex;
      flex-direction: column;
      gap: $base-spacing;

      .modal-section-title {
        margin-top: 0;
      }

      &:last-child {
        border: none;
      }
    }
  }
}

